
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>



<body>

    <h1>Available Rooms</h1>
    {% for key,value in units.items %}
        {% if value == 'A' %}
            
                <b> Room No.: </b> {{ key }}<br></p>
                <b> {{ value }}</b>
            
        {% endif %}
    {% endfor %}

    

</body>

</html>