<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>St Judes</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link href="{%assets/img/favicon.png%}" rel="icon">
  <link href="{%assets/img/apple-touch-icon.png%}" rel="apple-touch-icon">

  <link href="{%https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i%}" rel="stylesheet">

  <link href="{%assets/vendor/bootstrap/css/bootstrap.min.css%}" rel="stylesheet">
  <link href="{%assets/vendor/icofont/icofont.min.css%}" rel="stylesheet">
  <link href="{%assets/vendor/boxicons/css/boxicons.min.css%}" rel="stylesheet">
  <link href="{%assets/vendor/owl.carousel/assets/owl.carousel.min.css%}" rel="stylesheet">
  <link href="{%assets/vendor/venobox/venobox.css%}" rel="stylesheet">
  
<link href="{%assets/vendor/aos/aos.css%}" rel="stylesheet">
  <link href="{%assets/css/style.css%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">St Jude<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">Log Out</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Enter Patient Number</h5>
      <p class="card-text"></p>
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Patient">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    </div>
  </div>

<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>